Package: unwrap360
Version: 0.1
Section: user/utilities
Priority: extra
Architecture: i386
Depends: libc6 (>= 2.5.0-1), libgcc1 (>= 1:4.2.1), libqt4-core (>= 4.6.2~git20100401), libqt4-gui (>= 4.6.2~git20100401), libstdc++6 (>= 4.2.1)
Installed-Size: 180
Maintainer: Cláudio Gil <claudiof.gilgmail.com>
Description: Unwrap 360 degree images.
 Transform images that were taken with a 360 mirror
 into a rectangular shape that can be used in a sandard
 viewer.
